/*eliminamos siempre el paddig y el marign que viene por defecto*/

*{
    padding: 0;
    margin: 0;
}

.imagenVisual{
    width: 100vw;
    opacity:0.5;
}

.imagenVisual:hover{
    opacity: 1;
}

.contendorGaleria{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
}

.imagen-galeria{
    width: 300px;
}

.imagen-galeria:hover{
    opacity: 0.3;
    cursor: pointer;
}